<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-quartos" routerLinkActive="ativo">Quartos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-hospedes" routerLinkActive="ativo">Hospedes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-hospedagens" routerLinkActive="ativo"
      >Hospedagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="novo-quarto" routerLinkActive="ativo">Criar Quarto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="novo-hospede" routerLinkActive="ativo"
      >Cadastrar Hospede</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="calendario-reservas" routerLinkActive="ativo"
      >Inserir Hospedagem
    </a>
    </li>
  </ul>

</div>

  <main>
    <router-outlet></router-outlet>
  </main>
