<h2>Hospedes Cadastrados</h2>
<table class="table-latitude" >
  <thead>
    <th>Nome</th>
    <th>CPF</th>
    <th>Data de Nascimento</th>
    <th>CEP</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Rua</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Complemento</th>
  </thead>
  <tbody>
    <tr *ngFor="let hospede of hospedes">
        <td>{{hospede?.nome}}</td>
        <td>{{hospede?.cpf }}</td>
        <td>{{hospede?.dataNasc }}</td>
        <td>{{hospede?.cep }}</td>
        <td>{{hospede?.estado }}</td>
        <td>{{hospede?.cidade }}</td>
        <td>{{hospede?.rua }}</td>
        <td>{{hospede?.numero }}</td>
        <td>{{hospede?.bairro }}</td>
        <td>{{hospede?.complemento }}</td>
    </tr>
  </tbody>
</table>
